:root {
    --white-0: rgb(255, 255, 255);
    --white-1: rgb(200, 200, 200);
    --grey-0: rgb(36, 36, 36);
    --grey-1: rgb(48, 48, 48);
    --grey-2: rgb(60, 60, 60);
    --coral: rgb(231, 89, 89);
    --blue: rgb(140, 180, 255);
    --transparent-grey-0: rgba(36, 36, 36, 0.8);
    --transparent-grey-1: rgba(36, 36, 36, 0.7);

    --peach-gradient: linear-gradient(10deg, rgb(253, 72, 72) 10%, rgb(255, 230, 0));

    --bg-color: var(--grey-0);
    --card-bg-color: var(--grey-1);
    --text-color: var(--white-0);
    --muted-text-color: var(--white-1);
    --link-color: var(--blue);
}

@font-face {
    font-family: quicksand;
    src: url(./assets/Quicksand-VariableFont_wght.ttf);
}

html {
    scroll-behavior: smooth;
    background-color: var(--bg-color);
}

body {
    font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", "monospace";
    font-family: 'quicksand';
    color: var(--text-color);
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* Header */

header {
    display: flex;
    align-items: center;
    background-color: var(--card-bg-color);
}

#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem auto;
    padding: 1rem;
}

#header-container div {
    display: inline-block;
}

header img {
    max-width: 8rem;
    max-height: 8rem;
    border-radius: 50%;
}

@media screen and (min-width: 750px) {
    #header-container {
        flex-direction: row;
        width: 60rem;
    }

    #header-container div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
    }

    #header-container > div {
        display: block;
    }

    header img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }
}

h1 {
    font-size: clamp(1rem, 15vw, 3.5rem);

    font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", "monospace";
    margin: 0;
    /* color: var(--coral); */
    background: var(--peach-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header span {
    margin: 0 0.2rem;
}

header span.subtitle {
    color: var(--muted-text-color);
    font-size: large;
    font-style: italic;
}

nav {
    width: fit-content;
    margin-top: 1rem;
}

nav a {
    color: var(--text-color);
    letter-spacing: 0.1rem;
}

/* Main content */

main {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
}

h2 {
    font-size: 2rem;
    margin: 0;
    margin-top: 2rem;
    color: var(--text-color);

    font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", "monospace";
}

.card {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    margin: 1rem 0;
    background-color: var(--card-bg-color);
}

a {
    color: var(--link-color);
}

/* About section */

#about p {
    font-size: large;
}

/* Art section */

#art-container {
    column-width: 12rem;
    column-gap: 1rem;
    padding-top: 0;
}

#art-container button {
    background-color: var(--grey-2);
    padding: 0;
    border: none;
    border-radius: 1rem;
    margin-top: 1rem;
}

#art-container img {
    cursor: pointer;
    width: 100%;
    transition: transform 0.1s;
    border-radius: 1rem;
    margin-bottom: -3px;
}

#art-container img:hover {
    box-shadow: 0 0 1rem black;
    transform: scale(1.05);
}

/* Art close-up modal */

#modal__container {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: none;
    transition: backdrop-filter 0.3s, visibility 0.3s;
}

#modal__container.visible {
    visibility: visible;
    backdrop-filter: blur(0.5rem);
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    position: fixed;
    width: max-content;
    height: max-content;
    padding: 0;
    border: none;
    overflow: hidden;
    margin: auto;
    opacity: 0;
    transition: opacity 0.3s;
}

#modal.visible {
    opacity: 1;
}

#modal img {
    max-height: 90vh;
    max-width: 90vw;
    object-fit: contain;
}

#modal div {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    color: var(--text-color);
    background-color: var(--transparent-grey-0);
}

#modal h3 {
    margin: 0;
}

#modal p {
    margin: 0;
}

#modal button {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: var(--transparent-grey-1);
    transition-duration: 0.2s;
}

#modal button:hover {
    transform: scale(1.2);
}

/* Back-to-top floating button */

#button-top {
    cursor: default;
    position: fixed;
    display: flex;
    bottom: 1rem;
    right: 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
    background-color: rgb(63, 63, 189);
    color: white;
    transition-duration: 0.2s;
    font-size: 1.5em;
    padding: 1rem;
    text-decoration: none;
    opacity: 0;
}

#button-top:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1.2rem 0 rgba(0, 0, 0, 0.2);
}

/* Socials */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    background-color: var(--card-bg-color);
    margin-top: 2rem;
    padding: 1rem;
}

footer span {
    background: var(--peach-gradient);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer i {
    vertical-align: middle;
}

footer a {
    position: relative;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.1rem;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 4px;
}

footer a::after {
    position: absolute;
    background: var(--peach-gradient);
    content: "";
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
}